{% extends 'base.html' %} {% block content %}
<div class="centerform">
  <div class="fmchld">
    <div class="messages">
      {% for message in messages %}
      <h3>{{message}}</h3>
      {% endfor %}
    </div>
    <div class="form">
      <form action="" method="POST">
        {% csrf_token %}
        <h6>Username</h6>
        <input type="text" name="username" />
        <h6>Email</h6>
        <input type="email" name="email" />
        <h6>Password</h6>
        <input type="password" name="password" />
        <h6>Re Enter Password</h6>
        <input type="password" name="password2" /><br />
        <input type="submit" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
